spring:
  application:
    name: video_backend
  datasource:
    url: jdbc:mysql://localhost:3306/videos?useSSL=false&serverTimezone=UTC
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
  address: 0.0.0.0



jwt:
  secret: 3tBp7QEWK6q4fFkWpRyDxp+NDUeEgMXxwMfNXe0JIxY=
  expiration: 86400000

app:
  media:
    base-path: C:\Users\isaac\media


